@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-extra-light;
    src: url(./assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-medium-italic;
    src: url(./assets/fonts/Poppins-MediumItalic.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(./assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-light-italic;
    src: url(./assets/fonts/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: poppins-semi-bold;
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

html{
    font-family: poppins;
    scroll-behavior: smooth;
}

.page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.main-section{
    width: 100%;
    position: relative;
    display: flex;

    user-select:none;
}

.main-section .main-img{
    width: 60%;
    height: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-section .main-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 0;
}

.main-section .main-img .title{

    height: fit-content;
    width: 80%;
    z-index: 1;
    position: relative;

    margin-right: 20px;
    animation: slideInLeft 0.8s ease;
    transition: 0.3s;
}

.main-section .main-img .title:hover{
    margin-right: 28px;
}

.main-section .white-section{
    position: relative;
    background-color: white;
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    animation: fadeIn 0.8s ease;
}

.main-section .white-section .joy-text{

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);

    height: fit-content;
    width: 63%;

    animation: slideInRight 0.8s ease;
    transition: 0.3s;
    z-index: 5;
}

.main-section .white-section .joy-text:hover{
    right: -20px;
}

.main-section .decorate-box{
    position: absolute;
    height: 95%;
    width: 95%;
    border: solid 2px white;
    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
}

.button{
    font-size: 20px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;

    padding: 8px 20px;

    border: solid 1px #818F8E;
    background-color: white;
    
    border-radius: 5px;
    z-index: 1;

    transition: 0.3s;
    cursor: pointer;
    user-select: none;

    fill: #818F8E;
}

.light-button{
    border-color: white !important;
    color: white;
}
.light-button:hover{
    color: #2F3736;
    /* fill: #818F8E; */
}

.button p{
    margin: 0;
    color: #95a5a4;
    margin-right: 10px;
}

.button:hover{
    background-color: #9db2b1;
    fill: white;
}

.button:hover p{
    color: white;
}

.button:active{
    transform: scale(0.98);
}

.dark-button {
    background-color: #818F8E;
    color: white;
    fill: white;
}

.dark-button p{

    color: white;
}
.dark-button:hover {
    background-color: #6b7675;
    color: white;
    fill: white;
}

.open-nav-bar{
    position: fixed;

    top: 50px;
    right: 60px;
    z-index: 10;
}

@keyframes slideInLeft {
    0%{
        margin-right: 200px;
    }
    100%{
        margin-right: 20px;
    }
}

@keyframes slideInRight {
    0%{
        left: 400px;
    }
    100%{
        left: 200px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}



.nav-bar{
    position: fixed;
    top: 0;
    right: -250px;
    bottom: 0;
    
    width: 250px;
    z-index: 9;

    background-color: #818F8E;

    display: flex;
    flex-direction: column;  

    transition: 0.5s;
}

.nav-bar a{
    color: white;
    font-size: 23px;
    user-select: none;
    text-decoration: none;
    margin: 0;

    margin: 15px 35px;
    cursor: pointer;

    transition: 0.3s;
}

.nav-bar a:active{
    transform: scale(0.98);
}

.nav-bar a:first-child{
    margin-top: 130px;
}

.info-section{
    padding-left: 60px;
    padding-top: 400px;
    z-index: 2;
}

.info-section .desc{
    width: 60%;
    font-size: 20px;
    color: #818F8E;
}

/* best sellers section */

.best-sellers-section{
    width: 100%;
    background-color: #2F3736;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best-sellers-section .title{
    color: white;
    font-family: poppins-extra-light;
    font-size: 45px;
    user-select: none;

    margin: 0;
    padding-bottom: 80px;
    /* margin-bottom: 50px; */
}

.best-sellers-section .best-sellers-frame{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.best-sellers-frame .product-frame{
    height: 100%;
    margin: 0 15px;
    position: relative;
    z-index: 2;
}

.product-frame img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.best-sellers-section .product-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.product-desc p{
    color: white;
}

.product-desc .price{
    font-size: 26px;
    margin: 0;
}

.product-desc .button{
    background-color: transparent;
}

.product-desc .button p{
    font-family: poppins-extra-light;
}

.product-desc .button:hover p{
    color: #2F3736;
}

.product-desc .button:hover{
    background-color: white;
}

.best-sellers-section .decor-box{
    height: 95%;
    width: 100%;

    border: solid 1px rgba(255, 255, 255, 0.21);
    border-radius: 5px;
    position: absolute;
}

.best-sellers-section .b1{
    right: 80px;
    top: 43px;
}

.best-sellers-section .b3 {
    bottom: 100px;
    left: 60px;
}

.desc-box{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.324) 0%, rgba(255, 255, 255, 0.00) 116.58%);
    top: 0;
    border-radius: 5px;

    opacity: 0;
    transition: 0.3s;
}

.desc-box p{
    color: white;
    font-size: 20px;
    font-family: poppins-light-italic;
    margin-left: 20px;
}

.product-frame:hover .desc-box{
    opacity: 1;
}

.product{
    position: relative;
}

.best-sellers-section .decor-text{
    position: absolute;
    top: 30%;
    font-size: 30px;
    color: white;
    right: 93%;
    font-family: poppins-extra-light;
    transform: rotate(-90deg);
    letter-spacing: 11px;
}


.about-us-section{
    width: 100%;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-section .desc-section{
    width: 35%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;

    user-select: none;
}

.about-us-section .desc-section .title{
    font-size: 50px;
    font-family: poppins-medium;
    color: #2F3736;
    margin: 0;
    margin-bottom: 25px;
}

.about-us-section .desc-section .title .italic{
    font-family: poppins-medium-italic;
}

.about-us-section .img-frame{
    position: relative;
    height: 70%;
    margin-left: 60px;
    transition: 0.4s;
}
.about-us-section .img-frame:hover{
    margin-left: 45px;
}

.about-us-section .img-frame img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc-section .quote{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    font-family: poppins-light-italic; 
    margin-bottom: 25px;
}

.desc-section .quote p{
    margin: 0;
}

.desc-section .desc{
    width: 90%;
    margin-bottom: 40px;
}

.about-us-section .img-frame .decor-box{
    position: absolute;
    height: 100%;
    width: 100%;

    border: solid black 2px;
    border-radius: 5px;

    bottom: 30px;
    left: 30px;
}

.desc-section .button p{
    color: #2F3736;
    border-color: #2F3736;
}

.desc-section .button:hover p{
    color: white;
}

.desc-section .button:hover{
    background-color: #2F3736;
}


.positive-row-section{
    width: 100%;
    background-color: #889E9B;
    border-bottom: #6E807E solid 12px;
    border-top: #6E807E solid 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.positive-row-section .review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;

    margin: 0 100px;
    user-select: none;
    
    height: fit-content;
}

.positive-row-section .review p{
    margin: 0;
    font-family: poppins-light;
    color: #FFF;
}

.positive-row-section .review .title{
    font-size: 60px;
}

.positive-row-section .s-2 .title{
    font-family: poppins-semi-bold;
}

.positive-row-section .review .desc {
    font-size: 22px;
}
/* 
.positive-row-section .decor-box{

    position: absolute;
    border: solid 1px #9EB7B4;
    border-radius: 5px;
    height: 75%;
    width: 60%;
}

.positive-row-section .part-1{
    right: 100%;
}

.positive-row-section .part-3 {
    left: 100%;
} */

.information-section{
    width: 100%;
    background-color: #2F3736;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-section .img-frame {
    height: 75%;
    border: solid white 25px;
    border-radius: 5px;
    transition: 0.3s;

}

.information-section .img-frame:hover {
    margin-right: -15px;
}

.information-section .img-frame img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.information-section .section{
    font-family: poppins-medium;
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
    margin-left: 150px;
}

.information-section .section p{
    margin: 0;
}

.information-section .section .title{
    font-family: poppins-medium;
    font-size: 35px;
    margin-bottom: 20px;
    user-select: none;
}

/* .information-section.animation .img-frame{
    animation: infoSectionAnimation 1s ease forwards;
}

.information-section.animation{
    opacity: 1;
}

@keyframes infoSectionAnimation {
    0% {
        margin-left: 300px;
    }

    100% {
        margin-left: 0px;
    }
} */

.end-footer{
    height: 100px;
    width: 100%;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.end-footer p{
    color: #2F3736;
    
    font-family: Poppins-light;
    font-size: 20px;
    user-select: none;
}

.end-footer .icons{
    height: fit-content;
    margin-right: 10px;
}

.end-footer .icons svg{
    height: 30px;
    fill: #2F3736;
    margin: 0 7px;
}


.dim-background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 0;
    background-color: rgba(0, 0, 0, 0.161);
    opacity: 0;
    transition: 0.3s;
}

/*phone*/

@media (max-width:450px) {

    /* smartphones, iPhone, portrait 480x320 phones */

    .main-section{
        flex-direction: column;
    }

    .main-section .main-img{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-section .main-img .title{
        margin: 0;
    }

    .main-section .white-section .joy-text{
        top: 100px;
        left: 50%;
        animation: none;
    }

    .main-section .white-section{
        position: relative;
        width: 100%;
        height: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeIn 0.8s ease;
    }

    .info-section{
        z-index: 2;
        width: fit-content;
        padding-left: 0;
        padding-top: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-section .desc{
        /* width: 60%; */
        width: 80%;
        text-align: center;
        font-size: 20px;
        color: #818F8E;
        margin-top: 100px;
    }
}